# Save this as .env

# Dirs need trailing slash.

ASSET_PACK_DIR=D:/UHC/Asset Pack V2/
# see litepack.sh
ASSET_DIR_LITE=D:/UHC/AssetPackV2Lite/
ASSET_PACK_HREF=https://filedn.com/lANSiYhDVpD4ou6Gt17Ij9m/AssetPackV2Lite/

SENTRY_ORG=giovanh
SENTRY_PROJECT=tuhc

# Auth tokens can be obtained from
# https://sentry.io/settings/auth-tokens/
SENTRY_AUTH_TOKEN=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
