#app > *, .tabFrame > div {

	--app-icon: "@/icons/icon";

	--font-default: #000000;
	--font-header: #000000;
	--font-ctx: #000000;
	--font-log: #000000;
	--font-disabled: darkgrey;

	--font-family-ui: Segoe UI, San Francisco, Helvetica Neue, Arial, sans-serif;

	--header-bg: #EEEEEE;
	--header-tabSection: #C6C6C6;
	--header-border: #a0a0a0;

	--header-buttonHoverState: rgba(0, 0, 0, 0.10);
	--header-buttonClickState: rgba(0, 0, 0, 0.15);

	--nav-bg: #5a5a5a;
	// --nav-link: #FFFFFF;
	--nav-divider: #FFFFFF;
	--nav-candyCornContent: url(assets://images/candycorn.gif);

	--page-pageBody: #535353;
	--page-pageFrame: #C6C6C6;
	--page-pageBorder: #C6C6C6;
	--page-pageContent: #EEEEEE;
	--page-log-border: #808080;
	--page-log-bg: #EEEEEE;
	--page-nav-divider: #000000;
	--page-nav-meta: #535353;
	--page-links: #0000EE;
	--page-links-visited: #6300c0;

	--system-skycolor: #35bfff;
	--system-background: 
		url('../src/assets/homebg_right.png') left top repeat-y fixed,
      	url('../src/assets/homebg_left.png') right top repeat-y fixed;

	--ctx-bg: #EEEEEE;
	--ctx-frame: #535353;
	--ctx-shadow: #000000;
	--ctx-select: lightblue;
	--ctx-divider: #d3d3d3;

	--saves-bg: #C6C6C6;
	--saves-tab: #EEEEEE;
	--saves-tabHover: #DBDBDB;
	--saves-border: #A0A0A0;
	--saves-scroll: #DBDBDB;
	--saves-scrollHover: #C0C0C0;

	--find--highlight: lawngreen;

	&.mspa {
		// Use all defaults with no modifications.
	}

	&.dark {
		--font-default: #ffffff;
		--font-header: #ffffff;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);
		--font-ctx: #ffffff;
		--font-log: #ffffff;

		--header-bg: #262626;
		--header-tabSection: #404040;
		--header-border: #363636;

		--header-buttonHoverState: rgba(255, 255, 255, 0.1);
		--header-buttonClickState: rgba(255, 255, 255, 0.15);

		--page-pageBody: #000000;
		--page-pageFrame: #262626;
		--page-pageContent: #393939;
		--page-pageBorder: #262626;
		--page-nav-divider: #5599ff;
		--page-nav-meta: #979797;
		--page-links: #5599ff;
		--page-log-bg: #000000;

		--system-background:
			url('../src/assets/themes/night_homebg_right.png') left top repeat-y fixed,
			url('../src/assets/themes/night_homebg_left.png') right top repeat-y fixed;
		--system-skycolor: #1e1e1e;
		
		--ctx-bg: #262626;
		--ctx-frame: #000000;
		--ctx-select: #5599ff;
		--ctx-divider: #ffffff;

		--saves-bg: #454545;
		--saves-tab: #262626;
		--saves-tabHover: #3c3c3c;
		--saves-border: #363636;
		--saves-scroll: #5a5a5a;
		--saves-scrollHover: #6a6a6a;
	}

	&.retro {
		--app-icon: "@/icons/default";
		
		--nav-bg: #000000;
		--nav-link: #CCCCCC;

		--page-pageBody: #DDDDDD;
		--page-pageFrame: #EEEEEE;
		--page-pageBorder: #EEEEEE;
		--page-pageContent: #FFFFFF;
		--page-log-bg: #FFFFFF;

		--nav-candyCornContent: "";

		--system-background:
			url('../src/assets/themes/retrobg.png') left top repeat fixed;
		--system-skycolor: #DDDDDD;

		--ctx-bg: #FFFFFF;
		--ctx-divider: #DDDDDD;
		
		&.customStyles .navBanner .candyCorn:before {
			color: white;
			content: "||"
		}
	}

	&.scratch {
		--app-icon: "@/icons/scratch";

		--font-default: #ffffff;
		--font-header: #ffffff;
		--font-ctx: #ffffff;
		--font-log: #ffffff;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);

		--header-bg: #082a00;
		--header-tabSection: #0e4603;
		--header-border: #082a00;

		--header-buttonHoverState: rgba(255, 255, 255, 0.1);
		--header-buttonClickState: rgba(255, 255, 255, 0.15);

		--nav-bg: #000000;
		--nav-link: #FFFFFF;
		--nav-divider: #FFFFFF;
		--nav-candyCornContent: url(assets://images/candycorn_scratch.png);

		--page-pageBody: #000000;
		--page-pageFrame: #082a00;
		--page-pageBorder: #082a00;
		--page-pageContent: #0e4603;
		--page-log-bg: #000000;
		--page-nav-divider: #FFFFFF;
		--page-nav-meta: #FFFFFF;
		--page-links: #2cff4b;
		--page-links-visited: #2cff4b;

		--system-background: url("../src/assets/themes/scratchbg.png") repeat fixed;
		--system-skycolor: #0E4603;

		--ctx-bg: #0e4603;
		--ctx-frame: #082a00;
		--ctx-shadow: #000000;
		--ctx-select: #072600;
		--ctx-divider: #FFFFFF;

		--saves-bg: #0e4603;
		--saves-tab: #082a00;
		--saves-tabHover: #21401a;
		--saves-border: #0e4603;
		--saves-scroll: #DBDBDB;
		--saves-scrollHover: #C0C0C0;
	}

	&.sbahj {
		--app-icon: "@/icons/sbahj";

		--font-disabled: #00000060;
		--font-family-ui: "Comic Sans MS", "Comic Sans", cursive;

		--header-bg: #FFFF00;
		--header-tabSection: #F400EC;
		--header-border: #14ff23;

		--nav-bg: #000000;

		--page-pageBody: #0707ec;
		--page-pageFrame: #f400ec;
		--page-pageBorder: #f400ec;
		--page-pageContent: #14ff23;
		--page-nav-meta: #000000;

		--system-background:
			url('../src/assets/themes/sbahjbigman.png') 82% -10px no-repeat fixed,
			url('../src/assets/themes/sbahjbottomleft.png') left bottom no-repeat fixed,
			url('../src/assets/themes/sbahjbottomright.png') right bottom no-repeat fixed,
			url('../src/assets/themes/sbahjtopleft.png') left top no-repeat fixed,
			url('../src/assets/themes/sbahjtopright.png') right top no-repeat fixed,
			url('../src/assets/themes/sbahjbottom.png') center bottom repeat-x fixed,
			url('../src/assets/themes/sbahjright.png') right center repeat-y fixed,
			url('../src/assets/themes/sbahjleft.png') left center repeat-y fixed,
			url('../src/assets/themes/sbahjsideleft.png') left center repeat-y fixed,
			url('../src/assets/themes/sbahjsideright.png') right center repeat-y fixed,
			url('../src/assets/themes/sbahjseamleft.png') left top no-repeat fixed,
			url('../src/assets/themes/sbahjseamright.png') right top no-repeat fixed,
			url('../src/assets/themes/sbahjtop.png') center top repeat-x fixed,
			url('../src/assets/themes/sbahjbg.png') left top repeat fixed;
		--system-skycolor: #fff;

		--ctx-bg: #f400ec;
		--ctx-frame: #0707ec;
		--ctx-select: #FFFF00;
		--ctx-divider: #14ff23;

		--saves-bg: #FFFF00;
		--saves-tab: #F400EC;
		--saves-tabHover: #db00d4;
		--saves-border: #14ff23;
		--saves-scroll: #0707ec;
		--saves-scrollHover: #4040ee;

		--find--highlight: pink;

		#titleBarText {
			font-size: 12px;
		}
		#titleBarText, .tab,  .bookmarkWindow, .findBox, .jumpBoxInput, &.customStyles * {
			font-family: "Comic Sans MS", "Comic Sans", cursive;
		}
	}

	&.cascade {
		--font-default: #ffffff;
		--font-header: #ffffff;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);
		--font-ctx: #ffffff;
		--font-log: #ffffff;

		--header-bg: #262626;
		--header-tabSection: #404040;
		--header-border: #363636;

		--header-buttonHoverState: rgba(255, 255, 255, 0.1);
		--header-buttonClickState: rgba(255, 255, 255, 0.15);

		--page-pageBody: #000000;
		--page-pageFrame: #262626;
		--page-pageContent: #262626;
		--page-pageBorder: #6a6a6a;
		--page-nav-meta: #0066ff;
		--page-nav-divider: #5599ff;
		--page-links: #5599ff;
		--page-log-bg: #000000;
		
		--system-skycolor: #1D1D1D;
		--system-background: linear-gradient(0.25turn, #752020, #1D1D1D, #252C77);

		--ctx-bg: #262626;
		--ctx-frame: #000000;
		--ctx-select: #5599ff;
		--ctx-divider: #ffffff;

		--saves-bg: #454545;
		--saves-tab: #262626;
		--saves-tabHover: #3c3c3c;
		--saves-border: #363636;
		--saves-scroll: #5a5a5a;
		--saves-scrollHover: #6a6a6a;
	}

	&.collide {
		--font-default: #ffffff;
		--font-header: #ffffff;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);
		--font-ctx: #ffffff;

		--header-bg: #262626;
		--header-tabSection: #454545;
		--header-border: #363636;

		--header-buttonHoverState: rgba(255, 255, 255, 0.1);
		--header-buttonClickState: rgba(255, 255, 255, 0.15);

		--page-pageBody: #000000;
		--page-pageFrame: #454545;
		--page-pageBorder: #454545;
		--page-pageContent: #363636;
		--page-nav-divider: red;
		--page-nav-meta: red;
		--page-links: red;
		
		--ctx-bg: #262626;
		--ctx-frame: #000000;
		--ctx-select: red;
		--ctx-divider: #ffffff;

		--system-background:
        	linear-gradient(360deg, rgba(25,31,83,1) 0%, rgba(23,34,80,1) 3%, rgba(20,38,73,1) 5%, rgba(19,43,66,1) 8%, rgba(22,49,61,1) 11%, rgba(33,57,51,1) 13%, rgba(33,57,51,1) 15%, rgba(39,58,45,1) 17%, rgba(54,57,38,1) 20%, rgba(64,57,39,1) 22%, rgba(74,58,38,1) 24%, rgba(85,58,38,1) 26%, rgba(91,57,37,1) 28%, rgba(91,57,37,1) 30%, rgba(87,56,39,1) 31%, rgba(74,45,27,1) 32%, rgba(132,101,21,1) 33%, rgba(192,148,10,1) 34%, rgba(188,151,6,1) 36%, rgba(186,148,8,1) 37%, rgba(179,125,5,1) 38%, rgba(167,105,2,1) 39%, rgba(165,94,3,1) 40%, rgba(152,66,2,1) 42%, rgba(145,40,1,1) 44%, rgba(137,5,6,1) 47%, rgba(140,4,18,1) 51%, rgba(116,0,0,1) 53%, rgba(115,0,0,1) 55%, rgba(86,0,0,1) 58%, rgba(102,0,0,1) 62%, rgba(45,0,0,1) 68%, rgba(38,0,0,1) 71%, rgba(29,0,0,1) 73%, rgba(11,0,0,1) 80%, rgba(17,0,0,1) 90%, rgba(24,0,0,1) 100%) fixed;
		--system-skycolor: #000;

		--saves-bg: #454545;
		--saves-tab: #262626;
		--saves-tabHover: #3c3c3c;
		--saves-border: #363636;
		--saves-scroll: #5a5a5a;
		--saves-scrollHover: #6a6a6a;

	}

	&.tso {
		--font-default: #ffffff;
		--font-header: #ffffff;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);
		--font-ctx: #ffffff;
		--font-log: #A1EE26;

		--header-bg: #111111;
		--header-tabSection: #2f2f2f;
		--header-border: #222222;

		--nav-bg: #000000;

		--header-buttonHoverState: rgba(255, 255, 255, 0.1);
		--header-buttonClickState: rgba(255, 255, 255, 0.15);

		--page-pageBody: #000000;
		--page-pageFrame: #2f2f2f;
		--page-pageBorder: #2f2f2f;
		--page-pageContent: #111111;
		--page-nav-divider: #A1EE26;
		--page-nav-meta: #A1EE26;
		--page-links: #A1EE26;
		--page-log-bg: #2f2f2f;
		
		--ctx-bg: #2f2f2f;
		--ctx-frame: #000000;
		--ctx-select: #111111;
		--ctx-divider: #ffffff;

		--system-background:
			url('../src/assets/themes/tsobg.png') left top repeat-y fixed,
			url('../src/assets/themes/tsobg.png') right 500px repeat-y fixed;
		--system-skycolor: #111;

		--saves-bg: #2f2f2f;
		--saves-tab: #111111;
		--saves-tabHover: #222222;
		--saves-border: #222222;
		--saves-scroll: #5a5a5a;
		--saves-scrollHover: #6a6a6a;
	}

	&.trickster {
		--app-icon: "@/icons/sucker";
		--font-default: #f9fd6b;
		--font-header: #f9fd6b;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);
		--font-ctx: #f9fd6b;

		--header-bg: #ff73fd;
		--header-tabSection: #00117e;
		--header-border: #d361d1;

		--header-buttonHoverState: rgba(255, 255, 255, 0.1);
		--header-buttonClickState: rgba(255, 255, 255, 0.15);

		--nav-bg: #000000;

		--page-pageBody: #ffd800 url(assets://images/trickster_sitegraphics/Z2.gif);
		--page-pageFrame: #0019b8 url(assets://images/trickster_sitegraphics/bluetile.gif);
		--page-pageBorder: #00117e;
		--page-pageContent: #ff73fd;
		--page-log-bg: #ff73fd;
		--page-nav-divider: #f9fd6b;
		--page-nav-meta: #f9fd6b;
		--page-links: #fb060b;
		--page-links-visited: #f9fd6b;

		--system-background:
			url(assets://images/trickster_sitegraphics/Z2.gif) top left repeat-y fixed,
			url('../src/assets/themes/Z2right.gif') top right repeat-y fixed,
			url(assets://images/trickster_sitegraphics/bluetile.gif) fixed;
		--system-skycolor: #FFD800;

		--ctx-bg: #ff73fd;
		--ctx-frame: #00117e;
		--ctx-select: #fb060b;
		--ctx-divider: #0019b8;

		--saves-bg: #f9fd6b;
		--saves-tab: #ff73fd;
		--saves-tabHover: #ff81fd;
		--saves-border: #00117e;
		--saves-scroll: #0707ec;
		--saves-scrollHover: #4040ee;

		&.customStyles {
			.nextArrowLink{
				visibility: hidden;
				font-size: 0px;
			}
			.nextArrowLink:after{
				display: inline-block;
				visibility: visible;
				margin-left: 10px;
				content: url(assets://images/trickster_sitegraphics/sucker.gif);
			}
		}
		.reducedMotion & {
    		--page-pageFrame: repeating-linear-gradient(
    			to bottom,
    			#00117e,
    			#00117e 40px,
    			#0019b8 40px,
    			#0019b8 80px
    		);
			.nextArrowLink{
			    visibility: initial;
			    font-size: inherit;
			}
			.nextArrowLink:after{
				display: none;
			}
		}
	}

	&.A6A6 {
		--app-icon: "@/icons/cherub";
		--font-default: #2ed73a;
		--font-header: #ffffff;
		--font-highlight: #000000;
		--font-disabled: rgba(255, 255, 255, 0.2);
		--font-ctx: #ffffff;

		--header-bg: #073c00;
		--header-tabSection: #168500;
		--header-border: #031600;

		// --header-buttonHoverState: rgba(255, 255, 255, 0.1);
		// --header-buttonClickState: rgba(255, 255, 255, 0.15);
		--header-buttonHoverState: rgba(0, 0, 0, 0.2);
		--header-buttonClickState: rgba(0, 0, 0, 0.25);

		--nav-bg: #042300;
		--nav-link: #2ed73a;
		--nav-divider: #2ed73a;
		--nav-candyCornContent: url(assets://images/a6a6_tooth.gif);

		--page-pageBody: #042300;
		--page-pageFrame: #168500;
		--page-pageBorder: #168500;
		--page-pageContent: #073c00;
		// --page-log-bg: #000000;
		--page-nav-divider: #000000;
		--page-nav-meta: #2ed73a;
		--page-links: #2ed73a;

		--system-background:
			url('../src/assets/themes/homosuckbg_left.png') left top no-repeat fixed,
			url('../src/assets/themes/homosuckbg_right.png') right top no-repeat fixed;
		--system-skycolor: #042300;

		--ctx-bg: #073c00;
		--ctx-frame: #042300;
		--ctx-select: #168500;
		--ctx-divider: #2ed73a;

		--saves-bg: #168500;
		--saves-tab: #073c00;
		--saves-tabHover: #063600;
		--saves-border: #168500;
		--saves-scroll: #2ed73a;
		--saves-scrollHover: #27b731;

		&.customStyles .navBanner {
			height: 19px;
		}
	}

	&.pxs {
		--app-icon: "@/icons/pxs";

		--font-default: #ffffff;
		--font-header: #ffffff;
		--font-ctx: #ffffff;
		--font-highlight: #000000;
		--font-disabled: #a9a9a933;

		--header-bg: #095486;
		--header-tabSection: #003b64;
		--header-border: #095486;

		--header-buttonHoverState: #ffffff1a;
		--header-buttonClickState: #ffffff26;

		--nav-bg: #003b64;
		--nav-link: #72abd2;
		--nav-divider: #72abd2;
		--nav-candyCornContent: url(assets://archive/comics/pxs/candycorn_pxs.png);

		--page-pageBody: #00101a;
		--page-pageFrame: #002d4d;
		--page-pageBorder: #002d4d;
		--page-pageContent: #095486;
		// --page-log-border: #808080;
		// --page-log-bg: #EEEEEE;
		--page-nav-divider: #ffffff;
		--page-nav-meta: #72abd2;
		--page-links: #72abd2;
		--page-links-visited: #ffffff;

		--system-background:
			url('../src/assets/themes/pxsbg.png') center top repeat fixed;
		--system-skycolor: #095486;

		--ctx-bg: #003b64;
		--ctx-frame: #095486;
		--ctx-shadow: #000000;
		--ctx-select: #000000;
		--ctx-divider: #ffffff;

		--saves-bg: #003b64;
		--saves-tab: #095486;
		--saves-tabHover: #1a4f74;
		--saves-border: #00101a;
		--saves-scroll: #003b64;
		--saves-scrollHover: #0d456c;

		&.customStyles .navBanner {
			border-bottom: 4px solid #095486;
			height: 23px;
			a { 
				font-family: "Century Gothic", arial, sans-serif;
				font-size: 13px;
				font-weight: bold;
			}
		}
	}

	&.mspfa {
		--nav-bg: #000;
		--nav-candyCornContent: url(assets://images/candycorn_mspfa.png);
	}
}
