@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('css/fonts/open-dyslexic/OpenDyslexic-Italic.otf');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('css/fonts/open-dyslexic/OpenDyslexic-BoldItalic.otf');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('css/fonts/open-dyslexic/OpenDyslexic-Regular.otf');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('css/fonts/open-dyslexic/OpenDyslexic-Bold.otf');
}